## ‚Öç Aggregations

#### 1. üîó –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

In [50]:
import pandas as pd
import sqlite3

db_path = "checking-logs.sqlite"
conn = sqlite3.connect(db_path)

#### 2. –ü–æ–ª—É—á–µ–Ω–∏–µ —Å—Ö–µ–º—ã —Ç–∞–±–ª–∏—Ü test  –∏ deadlines

In [51]:
schema_query = "PRAGMA table_info(test);"
schema = pd.io.sql.read_sql(schema_query, conn)
print("–°—Ö–µ–º–∞ —Ç–∞–±–ª–∏—Ü—ã test:")
print(schema)
schema_query = "PRAGMA table_info(deadlines);"
schema = pd.io.sql.read_sql(schema_query, conn)
print("\n–°—Ö–µ–º–∞ —Ç–∞–±–ª–∏—Ü—ã deadlines:")
print(schema)

–°—Ö–µ–º–∞ —Ç–∞–±–ª–∏—Ü—ã test:
   cid             name       type  notnull dflt_value  pk
0    0              uid       TEXT        0       None   0
1    1          labname       TEXT        0       None   0
2    2  first_commit_ts  TIMESTAMP        0       None   0
3    3    first_view_ts  TIMESTAMP        0       None   0

–°—Ö–µ–º–∞ —Ç–∞–±–ª–∏—Ü—ã deadlines:
   cid       name     type  notnull dflt_value  pk
0    0      index  INTEGER        0       None   0
1    1       labs     TEXT        0       None   0
2    2  deadlines  INTEGER        0       None   0

#### 3. –ü–æ–ª—É—á–µ–Ω–∏–µ –ø–µ—Ä–≤—ã—Ö 10 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü test –∏ deadlines

In [52]:
preview_query = "SELECT * FROM test LIMIT 10;"
preview = pd.io.sql.read_sql(preview_query, conn)
print("\n–ü–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã test:")
print(preview)
preview_query = "SELECT * FROM deadlines LIMIT 10;"
preview = pd.io.sql.read_sql(preview_query, conn)
print("\n–ü–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã deadlines:")
print(preview)

–ü–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã test:
       uid   labname             first_commit_ts               first_view_ts
0   user_1    laba04  2020-04-26 17:06:18.462708  2020-04-26 21:53:59.624136
1   user_1   laba04s  2020-04-26 17:12:11.843671  2020-04-26 21:53:59.624136
2   user_1    laba05  2020-05-02 19:15:18.540185  2020-04-26 21:53:59.624136
3   user_1    laba06  2020-05-17 16:26:35.268534  2020-04-26 21:53:59.624136
4   user_1   laba06s  2020-05-20 12:23:37.289724  2020-04-26 21:53:59.624136
5   user_1  project1  2020-05-14 20:56:08.898880  2020-04-26 21:53:59.624136
6  user_10    laba04  2020-04-25 08:24:52.696624  2020-04-18 12:19:50.182714
7  user_10   laba04s  2020-04-25 08:37:54.604222  2020-04-18 12:19:50.182714
8  user_10    laba05  2020-05-01 19:27:26.063245  2020-04-18 12:19:50.182714
9  user_10    laba06  2020-05-19 11:39:28.885637  2020-04-18 12:19:50.182714

–ü–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã deadlines:
   index      labs   deadlines
0      0    laba04  1587945599
1      1   laba04s  1587945599
2      2    laba05  1588550399
3      4    laba06  1590364799
4      5   laba06s  1590364799
5      3  project1  1589673599

#### 4. SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ delta –º–µ–∂–¥—É –ø–µ—Ä–≤—ã–º –∫–æ–º–º–∏—Ç–æ–º –∏ –¥–µ–¥–ª–∞–π–Ω–æ–º

In [53]:
query_min = """
SELECT t.uid, 
       MIN((julianday(datetime(d.deadlines, 'unixepoch')) - julianday(t.first_commit_ts)) * 24) AS delta_hours
FROM test AS t
JOIN deadlines AS d ON LOWER(t.labname) = LOWER(d.labs)
WHERE t.labname != 'project1'
GROUP BY t.uid
ORDER BY delta_hours ASC
LIMIT 1;
"""

df_min = pd.read_sql(query_min, conn)
print(df_min.head())

       uid  delta_hours
0  user_25     2.867236

#### 5. SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ delta

In [54]:
query_max = """
SELECT t.uid, 
       MAX((julianday(datetime(d.deadlines, 'unixepoch')) - julianday(t.first_commit_ts)) * 24) AS delta_hours
FROM test AS t
JOIN deadlines AS d ON LOWER(t.labname) = LOWER(d.labs)
WHERE t.labname != 'project1'
GROUP BY t.uid
ORDER BY delta_hours DESC
LIMIT 1;
"""
df_max = pd.read_sql(query_max, conn)
print(df_max.head())

       uid  delta_hours
0  user_30    202.38473

#### 6. SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Å—Ä–µ–¥–Ω–µ–≥–æ delta

In [55]:
query_avg = """
SELECT AVG((julianday(datetime(d.deadlines, 'unixepoch')) - julianday(t.first_commit_ts)) * 24) AS avg_delta_hours
FROM test AS t
JOIN deadlines AS d ON LOWER(t.labname) = LOWER(d.labs)
WHERE t.labname != 'project1';
"""
df_avg = pd.read_sql(query_avg, conn)
print(df_avg.head())

   avg_delta_hours
0        89.687686

#### 7. SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Å–≤—è–∑–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤ –∏ delta

In [56]:
query_views_diff = """
SELECT t.uid, 
       AVG((julianday(datetime(d.deadlines, 'unixepoch')) - julianday(t.first_commit_ts)) * 24) AS avg_diff,
       COUNT(p.datetime) AS pageviews
FROM test AS t
JOIN deadlines AS d ON LOWER(t.labname) = LOWER(d.labs)
LEFT JOIN pageviews AS p ON t.uid = p.uid
WHERE t.labname != 'project1'
GROUP BY t.uid;
"""
views_diff = pd.read_sql(query_views_diff, conn)
print(views_diff.head())

       uid    avg_diff  pageviews
0   user_1   65.119644        140
1  user_10   75.242310        445
2  user_14  159.568696        429
3  user_17   62.207513        235
4  user_18    6.367907          9

#### 8. –ö–æ—Ä—Ä–µ–ª—è—Ü–∏—è

In [57]:
correlation = views_diff[['avg_diff', 'pageviews']].corr().iloc[0, 1]

conn.close()

print("\n–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –º–µ–∂–¥—É —Å—Ä–µ–¥–Ω–∏–º delta –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤:","\n" "\n                   ",correlation)

–ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –º–µ–∂–¥—É —Å—Ä–µ–¥–Ω–∏–º delta –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤:

                    0.18504199436324814