# Basic Operations
–≠—Ç–æ—Ç –∫–æ–¥ –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç —Ñ–∞–π–ª –∂—É—Ä–Ω–∞–ª–∞, –∏–∑–≤–ª–µ–∫–∞–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–µ –∏ –≤—Ä–µ–º–µ–Ω–∏, –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä—É–µ—Ç –≤—Ä–µ–º—è —Å—É—Ç–æ–∫ –∏ –≤—ã–ø–æ–ª–Ω—è–µ—Ç —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏–µ –∞–Ω–∞–ª–∏–∑—ã.

### 1. üìù –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ

In [8]:

import pandas as pd

df = pd.read_csv("../ex00/feed-views.log", sep="\t", header=None, names=["datetime", "user"])
df.head()

                     datetime   user
0  2020-04-17 12:01:08.463179  artem
1  2020-04-17 12:01:23.743946  artem
2  2020-04-17 12:27:30.646665  artem
3  2020-04-17 12:35:44.884757  artem
4  2020-04-17 12:35:52.735016  artem

### 2. ‚è±Ô∏è –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –≤—Ä–µ–º–µ–Ω–∏

In [9]:
df["datetime"] = pd.to_datetime(df["datetime"])
df.dtypes

datetime    datetime64[ns]
user                object
dtype: object

### 3. üìÜ‡µπ –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–æ–≤ –¥–∞—Ç—ã –∏ –≤—Ä–µ–º–µ–Ω–∏

In [11]:
df["year"] = df["datetime"].dt.year
df["month"] = df["datetime"].dt.month
df["day"] = df["datetime"].dt.day
df["hour"] = df["datetime"].dt.hour
df["minute"] = df["datetime"].dt.minute
df["second"] = df["datetime"].dt.second

df.head()

                    datetime   user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179  artem  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946  artem  2020      4   17    12       1      23
2 2020-04-17 12:27:30.646665  artem  2020      4   17    12      27      30
3 2020-04-17 12:35:44.884757  artem  2020      4   17    12      35      44
4 2020-04-17 12:35:52.735016  artem  2020      4   17    12      35      52

### 4. ‚òÄÔ∏è üåí –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –≤—Ä–µ–º–µ–Ω–∏ —Å—É—Ç–æ–∫

In [12]:
time_bins = [0, 4, 7, 11, 17, 20, 24]
time_labels = ["night", "early morning", "morning", "afternoon", "early evening", "evening"]

df["daytime"] = pd.cut(df["hour"], bins=time_bins, labels=time_labels, right=False)

df.head()

,datetime,user,year,month,day,hour,minute,second,daytime
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,afternoon
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon

### 5. ü´µ –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –∏–Ω–¥–µ–∫—Å–∞

In [13]:
df.set_index("user", inplace=True)
df.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
artem,2020-04-17 12:01:08.463179,2020,4,17,12,1,8,afternoon
artem,2020-04-17 12:01:23.743946,2020,4,17,12,1,23,afternoon
artem,2020-04-17 12:27:30.646665,2020,4,17,12,27,30,afternoon
artem,2020-04-17 12:35:44.884757,2020,4,17,12,35,44,afternoon
artem,2020-04-17 12:35:52.735016,2020,4,17,12,35,52,afternoon

### 6. üîÑ –ü–æ–¥—Å—á–µ—Ç —ç–ª–µ–º–µ–Ω—Ç–æ–≤

In [14]:
total_elements = df.count()

daytime_counts = df["daytime"].value_counts()

total_elements, daytime_counts

(datetime    1076
 year        1076
 month       1076
 day         1076
 hour        1076
 minute      1076
 second      1076
 daytime     1076
 dtype: int64,
 daytime
 evening          509
 afternoon        252
 early evening    145
 night            129
 morning           36
 early morning      5
 Name: count, dtype: int64)

### 7. ‚úÑ –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –≤—Ä–µ–º–µ–Ω–∏

In [15]:
df_sorted = df.sort_values(by=["hour", "minute", "second"])

df_sorted.head()

,datetime,year,month,day,hour,minute,second,daytime
user,,,,,,,,
valentina,2020-05-15 00:00:13.222265,2020,5,15,0,0,13,night
valentina,2020-05-15 00:01:05.153738,2020,5,15,0,1,5,night
pavel,2020-05-12 00:01:27.764025,2020,5,12,0,1,27,night
pavel,2020-05-12 00:01:38.444917,2020,5,12,0,1,38,night
pavel,2020-05-12 00:01:55.395042,2020,5,12,0,1,55,night

### 8. ‚ÑÄ –í—ã—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫

‚ö´Ô∏è –ú–∏–Ω–∏–º–∞–ª—å–Ω—ã–π –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —á–∞—Å –ø–æ—Å–µ—â–µ–Ω–∏–π

‚ö´Ô∏è –ú–æ–¥–∞ (–Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ) –¥–ª—è –≤—Ä–µ–º–µ–Ω–∏ —Å—É—Ç–æ–∫

In [17]:
min_hour = df["hour"].min()
max_hour = df["hour"].max()

mode_daytime = df["daytime"].mode()[0]

min_hour, max_hour, mode_daytime

(np.int32(0), np.int32(23), 'evening')

### 9. üßê –ê–Ω–∞–ª–∏–∑ –ø–æ –≤—Ä–µ–º–µ–Ω–∏ —Å—É—Ç–æ–∫

‚ö´Ô∏è –ú–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —á–∞—Å –¥–ª—è –Ω–æ—á–Ω—ã—Ö –ø–æ—Å–µ—â–µ–Ω–∏–π

‚ö´Ô∏è –ú–∏–Ω–∏–º–∞–ª—å–Ω—ã–π —á–∞—Å –¥–ª—è —É—Ç—Ä–µ–Ω–Ω–∏—Ö –ø–æ—Å–µ—â–µ–Ω–∏–π

‚ö´Ô∏è –ö—Ç–æ –∑–∞—Ö–æ–¥–∏–ª –≤ —ç—Ç–æ –≤—Ä–µ–º—è

In [18]:
max_hour_night = df[df["daytime"] == "night"]["hour"].max()
user_max_hour_night = df[df["hour"] == max_hour_night].index[0]

min_hour_morning = df[df["daytime"] == "morning"]["hour"].min()
user_min_hour_morning = df[df["hour"] == min_hour_morning].index[0]

max_hour_night, user_max_hour_night, min_hour_morning, user_min_hour_morning

(np.int32(3), 'konstantin', np.int32(8), 'alexander')

‚ö´Ô∏è –¢—Ä–∏ —Å–∞–º—ã—Ö —Ä–∞–Ω–Ω–∏—Ö –∏ –ø–æ–∑–¥–Ω–∏—Ö —á–∞—Å–∞

In [19]:
earliest_morning = df.nsmallest(3, "hour")[["hour"]]

latest_evening = df.nlargest(3, "hour")[["hour"]]

earliest_morning, latest_evening

(            hour
 user
 artem          0
 konstantin     0
 konstantin     0,
             hour
 user
 konstantin    23
 artem         23
 artem         23)

### 10. –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [20]:
df.describe()

,datetime,year,month,day,hour,minute,second
count,1076,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929
min,2020-04-17 12:01:08.463179,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000
25%,2020-05-10 01:13:49.857472,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000
50%,2020-05-11 22:48:35.302552832,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000
75%,2020-05-14 14:44:34.749530624,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000
max,2020-05-22 10:36:14.662600,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000
std,NaN,0.0,0.335557,4.906567,6.955490,17.689388,17.405506

### 11. –í—ã—á–∏—Å–ª–µ–Ω–∏–µ –º–µ–∂–∫–≤–∞—Ä—Ç–∏–ª—å–Ω–æ–≥–æ —Ä–∞–∑–º–∞—Ö–∞ (IQR)

In [21]:
stats = df.describe()
iqr = stats.loc["75%", "hour"] - stats.loc["25%", "hour"]
iqr

np.float64(9.0)

### 12. –°–æ—Ö—Ä–∞–Ω–∏–º –≤ –≤–∏–¥–µ —Ç–∞–±–ª–∏—Ü—ã

In [6]:
df_sorted.to_csv("df_sorted.csv")