# Load and Save
–≠—Ç–æ—Ç üêà (–∫–æ–¥) –∑–∞–≥—Ä—É–∂–∞–µ—Ç —Ñ–∞–π–ª –∂—É—Ä–Ω–∞–ª–∞, –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ—Ç –µ–≥–æ –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç —Å –¥—Ä—É–≥–∏–º —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º.

#### 1. –ó–∞–≥—Ä—É–∂–∞–µ–º

In [6]:

import pandas as pd

input_file = "feed-views.log"
output_file = "feed-views-semicolon.log"

df = pd.read_csv(
    input_file,
    sep="\t",
    header=None,
    names=["datetime", "user"],
    skiprows=[2, 3],
    skipfooter=2,
    engine="python"
)

#### 2. –ü–µ—Ä–µ–∏–º–µ–Ω–Ω–æ–≤—ã–≤–∞–µ–º

In [7]:
df.rename(columns={"datetime": "date_time"}, inplace=True)

#### 3. –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –∏–Ω–¥–µ–∫—Å

In [3]:
df.set_index("date_time", inplace=True)

#### 4. –°–æ—Ö—Ä–∞–Ω—è–µ–º –≤ —Ñ–∞–π–ª .log

In [5]:
df.to_csv(output_file, sep=";")

##### –ü—Ä–æ–≤–µ—Ä–∏–º –≤—ã–≤–æ–¥ –ø–µ—Ä–≤—ã—Ö

In [4]:
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

##### –ü—Ä–æ–≤–µ—Ä–∏–º –≤—ã–≤–æ–¥ –ø–æ—Å–ª–µ–¥–Ω–∏—Ö

In [7]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel