# Preprocessing with Pandas

–í —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ –º—ã –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ, –æ—á–∏—â–∞–µ–º –∏—Ö –æ—Ç –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, –∑–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏ —Ä–∞–∑–±–∏—Ä–∞–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –º–∞—Ä–∫–µ –∏ –º–æ–¥–µ–ª–∏ –∞–≤—Ç–æ–º–æ–±–∏–ª—è.

### 1. üìù –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏ —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –∏–Ω–¥–µ–∫—Å ID

In [1]:
import pandas as pd

df = pd.read_csv("auto.csv")
df.set_index("ID", inplace=True)
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

### 2. –ü–æ–¥—Å—á—ë—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–∞–ø–∏—Å–µ–π –≤ DataFrame

In [2]:
num_records_before = df.count()
num_records_before

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

### 3. –£–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [4]:
df = df.drop_duplicates(subset=["CarNumber", "Make_n_model", "Refund"], keep="last")
num_records_after = df.count()
num_records_after

CarNumber       682
Make_n_model    682
Refund          665
Fines           639
History          63
dtype: int64

### 4. –†–∞–±–æ—Ç–∞ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏

#### 1Ô∏è‚É£ –ü–æ–¥—Å—á—ë—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–π –∫–æ–ª–æ–Ω–∫–µ

In [5]:
missing_values_before = df.isna().sum()
missing_values_before

CarNumber         0
Make_n_model      0
Refund           17
Fines            43
History         619
dtype: int64

#### 2Ô∏è‚É£ –£–¥–∞–ª–µ–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫ —Å –±–æ–ª–µ–µ —á–µ–º 500 –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏

In [6]:
df = df.dropna(thresh=len(df) - 500, axis=1)

missing_values_after_dropping = df.isna().sum()
missing_values_after_dropping

CarNumber        0
Make_n_model     0
Refund          17
Fines           43
dtype: int64

#### 3Ô∏è‚É£ –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–æ–ª–æ–Ω–∫–µ Refund –∑–Ω–∞—á–µ–Ω–∏–µ–º –∏–∑ –ø—Ä–µ–¥—ã–¥—É—â–µ–π —Å—Ç—Ä–æ–∫–∏

In [10]:
df["Refund"] = df["Refund"].ffill()

missing_values_after_refund = df.isna().sum()
missing_values_after_refund

CarNumber        0
Make_n_model     0
Refund           0
Fines           43
dtype: int64

#### 4Ô∏è‚É£ –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–æ–ª–æ–Ω–∫–µ Fines —Å—Ä–µ–¥–Ω–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º

In [11]:
df["Fines"] = df["Fines"].fillna(df["Fines"].mean())

missing_values_after_fines = df.isna().sum()
missing_values_after_fines

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

### 5. –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ Make_n_model –Ω–∞ Make –∏ Model

In [12]:
df[["Make", "Model"]] = df["Make_n_model"].apply(lambda x: pd.Series(str(x).split(" ", 1)))

df.drop(columns=["Make_n_model"], inplace=True)

df.head()

       CarNumber  Refund        Fines    Make  Model
ID
1    E432XX77RUS     1.0  6500.000000  Toyota  Camry
2    7184TT36RUS     1.0  2100.000000    Ford  Focus
3   X582HE161RUS     2.0  2000.000000    Ford  Focus
7   X4128H125RUS     1.0  7458.528951    Ford  Focus
10  H234YH197RUS     2.0  6000.000000    Ford  Focus

### 6. –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –≤ JSON-—Ñ–∞–π–ª

In [13]:
df.to_json("auto.json", orient="records", indent=4)

df.head()

       CarNumber  Refund        Fines    Make  Model
ID
1    E432XX77RUS     1.0  6500.000000  Toyota  Camry
2    7184TT36RUS     1.0  2100.000000    Ford  Focus
3   X582HE161RUS     2.0  2000.000000    Ford  Focus
7   X4128H125RUS     1.0  7458.528951    Ford  Focus
10  H234YH197RUS     2.0  6000.000000    Ford  Focus