## ‚òùÔ∏è Selects and aggregations

–í —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ –≤—ã–ø–æ–ª–Ω—è—é—Ç—Å—è –≤—ã–±–æ—Ä–∫–∏ –¥–∞–Ω–Ω—ã—Ö –∏ –∞–≥—Ä–µ–≥–∞—Ü–∏–∏ –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ —à—Ç—Ä–∞—Ñ–æ–≤, –º–∞—Ä–æ–∫ –º–∞—à–∏–Ω –∏ —Å–≤—è–∑–∞–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

### 1. üìù –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏ —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –∏–Ω–¥–µ–∫—Å ID

In [2]:
import pandas as pd

df = pd.read_json("../ex02/auto.json")
df.set_index("CarNumber", inplace=True)

df.head()

              Refund        Fines    Make  Model
CarNumber
E432XX77RUS        1  6500.000000  Toyota  Camry
7184TT36RUS        1  2100.000000    Ford  Focus
X582HE161RUS       2  2000.000000    Ford  Focus
X4128H125RUS       1  7458.528951    Ford  Focus
H234YH197RUS       2  6000.000000    Ford  Focus

### 2. –í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –≤—ã–±–æ—Ä–æ–∫

üîπ 1. –í—ã–≤–æ–¥–∏–º —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ —à—Ç—Ä–∞—Ñ—ã –±–æ–ª—å—à–µ 2,100

In [3]:
df[df["Fines"] > 2100]

              Refund         Fines        Make    Model
CarNumber
E432XX77RUS        1   6500.000000      Toyota    Camry
X4128H125RUS       1   7458.528951        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
...              ...           ...         ...      ...
O718MM163RUS       2   7458.528951        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   7458.528951      Toyota  Corolla

[414 rows x 4 columns]

üîπ 2. –í—ã–≤–æ–¥–∏–º —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ —à—Ç—Ä–∞—Ñ—ã –±–æ–ª—å—à–µ 2,100 –∏ –≤–æ–∑–≤—Ä–∞—Ç —Ä–∞–≤–µ–Ω 2

In [5]:
df[(df["Fines"] > 2100) & (df["Refund"] == 2)]

              Refund         Fines        Make    Model
CarNumber
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   7458.528951       Skoda  Octavia
M298CH161RUS       2   7458.528951        Ford    Focus
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   7458.528951        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   7458.528951      Toyota  Corolla

[272 rows x 4 columns]

üîπ 3. –í—ã–≤–æ–¥–∏–º —Å—Ç—Ä–æ–∫–∏ —Å –º–æ–¥–µ–ª—è–º–∏ Focus –∏–ª–∏ Corolla

In [6]:
df[df["Model"].isin(["Focus", "Corolla"])]

              Refund         Fines    Make    Model
CarNumber
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
X4128H125RUS       1   7458.528951    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
707987163RUS       2   2200.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   7458.528951  Toyota  Corolla

[543 rows x 4 columns]

üîπ 4. –í—ã–≤–æ–¥–∏–º —Å—Ç—Ä–æ–∫–∏ —Å –æ–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º–∏ –Ω–æ–º–µ—Ä–∞–º–∏ –º–∞—à–∏–Ω

In [7]:
car_numbers = ["Y7689C197RUS", "92928M178RUS", "7788KT197RUS", "H115YO163RUS", "X758HY197RUS"]
df.loc[car_numbers]

              Refund          Fines  Make  Model
CarNumber
Y7689C197RUS       2   45000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
H115YO163RUS       1    7458.528951  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus

### 3. –ê–≥—Ä–µ–≥–∞—Ü–∏–∏ –ø–æ –º–∞—Ä–∫–µ –∏ –º–æ–¥–µ–ª–∏

üîπ 1. –ú–µ–¥–∏–∞–Ω–∞ —à—Ç—Ä–∞—Ñ–æ–≤, —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–∞—è –ø–æ –º–∞—Ä–∫–µ

In [8]:
df.groupby("Make")["Fines"].median()

Make
Audi          4200.000000
BMW           3000.000000
Ford          3000.000000
Skoda         3650.000000
Toyota        7458.528951
Volkswagen    4800.000000
Volvo         6800.000000
Name: Fines, dtype: float64

üîπ 2. –ú–µ–¥–∏–∞–Ω–∞ —à—Ç—Ä–∞—Ñ–æ–≤, —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–∞—è –ø–æ –º–∞—Ä–∫–µ –∏ –º–æ–¥–µ–ª–∏

In [9]:
df.groupby(["Make", "Model"])["Fines"].median()

Make        Model
Ford        Focus      3000.0
            Mondeo     7650.0
Skoda       Octavia    3650.0
Toyota      Camry      7200.0
            Corolla    7700.0
Volkswagen  Golf       5400.0
            Jetta      2800.0
            Passat     3200.0
            Touareg    5800.0
Name: Fines, dtype: float64

üîπ 3. –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —à—Ç—Ä–∞—Ñ–æ–≤ –ø–æ –º–∞—Ä–∫–µ –∏ –º–æ–¥–µ–ª–∏

In [10]:
df.groupby(["Make", "Model"])["Fines"].count()

Make        Model
Ford        Focus      529
            Mondeo       8
Skoda       Octavia     48
Toyota      Camry       17
            Corolla     14
Volkswagen  Golf        20
            Jetta        6
            Passat      23
            Touareg      6
Name: Fines, dtype: int64

üîπ 4. –ú–∏–Ω–∏–º—É–º –∏ –º–∞–∫—Å–∏–º—É–º —à—Ç—Ä–∞—Ñ–æ–≤ –ø–æ –º–∞—Ä–∫–µ –∏ –º–æ–¥–µ–ª–∏

In [11]:
df.groupby(["Make", "Model"])["Fines"].agg(["min", "max"])

                       min            max
Make       Model
Ford       Focus     100.0  145200.000000
           Mondeo   1100.0   46200.000000
Skoda      Octavia   300.0   72500.000000
Toyota     Camry     800.0   22400.000000
           Corolla   900.0   34300.000000
Volkswagen Golf      200.0  168000.000000
           Jetta     500.0   46000.000000
           Passat    100.0   29700.000000
           Touareg   500.0    7458.528951

üîπ 5. –°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ —à—Ç—Ä–∞—Ñ–æ–≤ –ø–æ –º–∞—Ä–∫–µ –∏ –º–æ–¥–µ–ª–∏

In [12]:
df.groupby(["Make", "Model"])["Fines"].std()

Make        Model
Ford        Focus      12045.600353
            Mondeo     17909.454805
Skoda       Octavia    14191.257307
Toyota      Camry       6473.058533
            Corolla    10463.601454
Volkswagen  Golf       36829.084554
            Jetta      17743.026799
            Passat      6690.081017
            Touareg     2884.742796
Name: Fines, dtype: float64

### 4. –ê–≥—Ä–µ–≥–∞—Ü–∏–∏ –ø–æ –Ω–æ–º–µ—Ä—É –º–∞—à–∏–Ω—ã

üîπ 1. –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —à—Ç—Ä–∞—Ñ–æ–≤ –ø–æ –Ω–æ–º–µ—Ä—É –º–∞—à–∏–Ω—ã –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è

In [13]:
violations_count = df.groupby("CarNumber")["Fines"].count().sort_values(ascending=False)
violations_count

CarNumber
96907X197RUS    3
96857X197RUS    3
X256HE161RUS    3
8818C877RUS     3
7248C8197RUS    3
               ..
E33177152RUS    1
E29677161RUS    1
E29577161RUS    1
E28977161RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

üîπ 2. –í—Å–µ —Å—Ç—Ä–æ–∫–∏, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–µ –Ω–æ–º–µ—Ä—É —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —à—Ç—Ä–∞—Ñ–æ–≤

In [14]:
top_violator = violations_count.index[0]
df.loc[top_violator]

              Refund   Fines Make Model
CarNumber
96907X197RUS       1  3000.0  BMW  None
96907X197RUS       1  3000.0  BMW  None
96907X197RUS       2  3000.0  BMW  None

üîπ 3. –°—É–º–º–∞ —à—Ç—Ä–∞—Ñ–æ–≤ –ø–æ –Ω–æ–º–µ—Ä—É –º–∞—à–∏–Ω—ã –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è

In [15]:
fines_sum = df.groupby("CarNumber")["Fines"].sum().sort_values(ascending=False)
fines_sum

CarNumber
Y778EE197RUS    192000.0
X758HY197RUS    169400.0
T477KX197RUS     94000.0
Y7689C197RUS     81000.0
Y352O8197RUS     77700.0
                  ...
K376HE161RUS       100.0
M581CH197RUS       100.0
705787163RUS       100.0
Y166O8161RUS       100.0
K326T8197RUS       100.0
Name: Fines, Length: 531, dtype: float64

üîπ 4. –í—Å–µ —Å—Ç—Ä–æ–∫–∏, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–µ –Ω–æ–º–µ—Ä—É —Å –Ω–∞–∏–±–æ–ª—å—à–µ–π —Å—É–º–º–æ–π —à—Ç—Ä–∞—Ñ–æ–≤

In [16]:
top_payer = fines_sum.index[0]
df.loc[top_payer]

              Refund     Fines        Make Model
CarNumber
Y778EE197RUS       1   24000.0  Volkswagen  Golf
Y778EE197RUS       2  168000.0  Volkswagen  Golf

### 5. –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –Ω–∞–ª–∏—á–∏–µ –Ω–æ–º–µ—Ä–æ–≤, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å —Ä–∞–∑–Ω—ã–º–∏ –º–æ–¥–µ–ª—è–º–∏

In [17]:
different_models = df.groupby("CarNumber")["Model"].nunique()
different_models[different_models > 1]

Series([], Name: Model, dtype: int64)